name: Python tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - python-version: "3.7"
            django-version: "3.2"
          - python-version: "3.8"
            django-version: "3.2"
          - python-version: "3.9"
            django-version: "3.2"
          - python-version: "3.10"
            django-version: "3.2"
          - python-version: "3.9"
            django-version: "4.0"
          - python-version: "3.10"
            django-version: "4.0"
          - python-version: "3.9"
            django-version: "4.1"
          - python-version: "3.10"
            django-version: "4.1"
          - python-version: "3.11"
            django-version: "4.1"
          - python-version: "3.9"
            django-version: "4.2"
          - python-version: "3.10"
            django-version: "4.2"
          - python-version: "3.11"
            django-version: "4.2"

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip tox
    - name: Run Tests
      env:
        TOXENV: py${{ matrix.python-version }}-django${{ matrix.django-version }}
      run: tox
